/* General Styles */

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #F2F2F2;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Header Styles */

.header {
  background-color: #33A2FF;
  text-align: center;
  padding: 80px 0;
}

.header h1 {
  font-size: 36px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
  margin: 0;
}

.header p {
  font-size: 18px;
  color: #F2F2F2;
  margin: 0;
}

/* Services Styles */

.services {
  padding: 80px 0;
}

.services h2 {
  font-size: 36px;
  font-weight: 700;
  color: #33A2FF;
  text-align: center;
  margin: 0 0 40px 0;
  text-transform: uppercase;
}

.service-box {
  background-color: #FFF;
  padding: 40px;
  margin: 0 0 40px 0;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
  text-align: center;
}

.service-box h3 {
  font-size: 24px;
  font-weight: 700;
  color: #33A2FF;
  margin: 0 0 20px 0;
}

.service-box p {
  font-size: 18px;
  color: #333;
  margin: 0;
}

/* Footer Styles */

.footer {
  background-color: #33A2FF;
  text-align: center;
  color: #FFF;
  padding: 40px 0;
}

.footer p {
  margin: 0;
  font-size: 18px;
}
